In [ ]:
import pandas as pd

# Memuat data dari file Excel
file_path = '/mnt/data/dataKasus-1.xlsx'
data = pd.read_excel('dataKasus-1.xlsx')

# Menampilkan beberapa baris pertama data dan informasi kolom
print(data.head())
print(data.info())

# Menghapus kolom yang tidak diperlukan, seperti 'Unnamed: 12' jika kolom tersebut banyak nilai kosong
data_cleaned = data.drop(columns=['Unnamed: 12'])

# Fungsi untuk membersihkan kolom 'USIA', menghapus teks seperti 'TH'
def bersihkan_usia(usia):
    if isinstance(usia, str):
        return ''.join([i for i in usia if i.isdigit()])
    return usia

# Terapkan fungsi untuk kolom 'USIA' dan ubah menjadi tipe data numerik
data_cleaned['USIA'] = data_cleaned['USIA'].apply(bersihkan_usia).astype(float)

# Isi nilai kosong dengan nilai yang paling sering muncul (modus)
data_cleaned['USIA'].fillna(data_cleaned['USIA'].mode()[0], inplace=True)
data_cleaned['JARAK KELAHIRAN'].fillna(data_cleaned['JARAK KELAHIRAN'].mode()[0], inplace=True)

# Mengubah semua teks menjadi huruf kecil
for col in data_cleaned.select_dtypes(include=['object']).columns:
    data_cleaned[col] = data_cleaned[col].str.lower()

# Mengubah nilai kategorikal (seperti 'ya' dan 'tidak') menjadi angka
kolom_biner = ['RIW HIPERTENSI', 'RIW PE', 'OBESITAS', 'RIW DM', 'RIW HIPERTENSI/PE DALAM KELUARGA']

for kolom in kolom_biner:
    data_cleaned[kolom] = data_cleaned[kolom].replace({'tidak': 0, 'ya': 1, 'peb': 1})

# Mengubah 'PE/Non PE' dan 'SOSEK RENDAH' menjadi numerik
data_cleaned['PE/Non PE'] = data_cleaned['PE/Non PE'].replace({'pe': 1, 'non pe': 0})
data_cleaned['SOSEK RENDAH'] = data_cleaned['SOSEK RENDAH'].replace({'>umr': 1, '<umr': 0})

# Tampilkan hasil setelah pembersihan
print(data_cleaned.head())

   NO    NAMA   USIA  PARITAS JARAK KELAHIRAN RIW HIPERTENSI RIW PE OBESITAS  \
0   1  NAMA 1  23 TH        3       < 2 tahun          Tidak  Tidak    Tidak
1   2  NAMA 2  29 TH        2       < 2 tahun          Tidak    PEB    Tidak
2   3  NAMA 3  20 TH        1    anak pertama          Tidak  Tidak    Tidak
3   4  NAMA 4  18 TH        1    anak pertama          Tidak  Tidak    Tidak
4   5  NAMA 5  34 TH        3      > 2 tahun           Tidak  Tidak    Tidak

  RIW DM RIW HIPERTENSI/PE DALAM KELUARGA SOSEK RENDAH PE/Non PE Unnamed: 12
0     Ya                            Tidak         >UMR    Non PE         NaN
1  Tidak                              Ada         >UMR        PE         NaN
2  Tidak                            Tidak         >UMR    Non PE         NaN
3  Tidak                            Tidak         >UMR    Non PE         NaN
4  Tidak                            Tidak         >UMR    Non PE         NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561 entries, 0 to 560
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   NO                                561 non-null    int64
 1   NAMA                              561 non-null    object
 2   USIA                              558 non-null    object
 3   PARITAS                           561 non-null    int64
 4   JARAK KELAHIRAN                   554 non-null    object
 5   RIW HIPERTENSI                    561 non-null    object
 6   RIW PE                            561 non-null    object
 7   OBESITAS                          561 non-null    object
 8   RIW DM                            561 non-null    object
 9   RIW HIPERTENSI/PE DALAM KELUARGA  561 non-null    object
 10  SOSEK RENDAH                      561 non-null    object
 11  PE/Non PE                         561 non-null    object
 12  Unnamed: 12                       11 non-null     object
dtypes: int64(2), object(11)
memory usage: 57.1+ KB
None
   NO    NAMA  USIA  PARITAS JARAK KELAHIRAN  RIW HIPERTENSI RIW PE  OBESITAS  \
0   1  nama 1  23.0        3       < 2 tahun               0      0         0
1   2  nama 2  29.0        2       < 2 tahun               0      1         0
2   3  nama 3  20.0        1    anak pertama               0      0         0
3   4  nama 4  18.0        1    anak pertama               0      0         0
4   5  nama 5  34.0        3      > 2 tahun                0      0         0

   RIW DM RIW HIPERTENSI/PE DALAM KELUARGA  SOSEK RENDAH PE/Non PE
0       1                                0             1         0
1       0                              ada             1         1
2       0                                0             1         0
3       0                                0             1         0
4       0                                0             1         0